#favorite-quotes {
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  border-left: 4px solid #ccc;
  margin: 10px 0;
  margin: 10px 0;
  border-radius: 8px;
  border-left: 4px solid #ccc;
  background-image: url('../../assets/img/unnamed.png');
  background-size: cover;
  background-position: center;
}

